In [1]:
import pandas as pd

In [2]:
def count_open(series):
    return series.equals("open").sum(1)

In [3]:
url_ports = pd.read_csv("../data/onions_ports.csv")
url_ports

,url,20,21,22,23,25,26,80,110,143,443,587,993,995,2525,3306
0,2222222222gwddfp.onion,closed,closed,closed,closed,closed,closed,open,closed,closed,closed,closed,closed,closed,closed,closed
1,2222222222vf2a2e.onion,closed,closed,closed,closed,closed,closed,open,closed,closed,closed,closed,closed,closed,closed,closed
2,222222222e5vnz7w.onion,closed,closed,closed,closed,closed,closed,open,closed,closed,closed,closed,closed,closed,closed,closed
3,222222222g4bgdec.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed
4,222222222lnekdyh.onion,closed,closed,closed,closed,closed,closed,open,closed,closed,closed,closed,closed,closed,closed,closed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23262,zzwjcks6voxbjdvd.onion,closed,closed,closed,closed,closed,closed,open,closed,closed,closed,closed,closed,closed,closed,closed
23263,zzx4y733wmo5tuhlf2mjwtadll4w45rl3gfooajh5qfjcf...,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed
23264,zzxd2gqqlm5v6zgj.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed
23265,zzzatqyocf7kt7y6.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed
23266,zzzzzzzuk2dl5sp7ugqdxctuprve5tjxj6tx3svz5y6qom...,closed,closed,closed,closed,closed,closed,open,closed,closed,closed,closed,closed,closed,closed,closed

In [4]:
url_ports["num_open_ports"] = url_ports.isin({"open"}).sum(1)
url_ports.sort_values(by=["num_open_ports"], ascending=False, inplace=True)
url_ports

,url,20,21,22,23,25,26,80,110,143,443,587,993,995,2525,3306,num_open_ports
5262,blackhost7pws76u6vohksdahnm6adf7riukgcmahrwt43...,closed,closed,open,closed,open,closed,open,closed,open,open,open,open,closed,open,closed,8
6766,danielas3rtn54uwmofdo3x2bsdifr47huasnmbgqzfrec...,closed,closed,closed,closed,open,closed,open,open,open,open,open,open,open,closed,closed,8
2326,5gdvpfoh6kb2iqbizb37lzk2ddzrwa47m6rpdueg2m656f...,closed,closed,closed,closed,closed,closed,open,open,open,open,open,open,open,closed,closed,7
4665,autinv5q6en4gpf4.onion,closed,closed,closed,closed,closed,closed,open,closed,open,open,open,open,open,closed,closed,6
21769,xdkriz6cn2avvcr2vks5lvvtmfojz2ohjzj4fhyuka55mv...,closed,closed,closed,closed,closed,closed,open,open,open,closed,open,open,open,closed,closed,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4173,adptbekbnqo4xxe6.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,0
16967,qbte2zxvhjk6bftp.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,0
11917,jmgxvy75bglka7cj.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,0
4176,adrhqwftxlvq4rqa.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,0
9352,gc4dupezfabf2gmi.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,0

In [5]:
url_ports_grouped_by_count = url_ports[["url", "num_open_ports"]].groupby(["num_open_ports"]).count()
url_ports_grouped_by_count.rename(columns={"url": "count_services"}, inplace=True)
url_ports_grouped_by_count.reset_index(inplace=True)
url_ports_grouped_by_count.sort_values(by=["num_open_ports"], ascending=False, inplace=True)
url_ports_grouped_by_count.reset_index(inplace=True)
url_ports_grouped_by_count.drop(columns=["index"], inplace=True)
url_ports_grouped_by_count

   num_open_ports  count_services
0               8               2
1               7               1
2               6               2
3               5               3
4               4               2
5               3              13
6               2             622
7               1           14400
8               0            8222

In [7]:
port_count = []
port_list = ["20", "21", "22", "23", "25", "26", "80", "110", "143", "443", "587", "993", "995", "2525", "3306"]
port_name = ["ftp", "ftp", "ssh", "telnet", "smtp", "rsftp", "http", "pop3", "imap", "https", "smtp", "imaps", "pop3s", "smtp", "mysql"]
for port in port_list:
    count = len(url_ports[url_ports[port] == "open"])
    port_count.append(count)

port_count_df = pd.DataFrame([port_list, port_name, port_count])
port_count_df = port_count_df.transpose()
port_count_df.rename(columns={0: "port", 1: "port_name", 2: "count_services"}, inplace=True)
port_count_df.sort_values(by=["count_services"], ascending=False, inplace=True)
port_count_df.reset_index(inplace=True)
port_count_df.drop(columns=["index"], inplace=True)
port_count_df

    port port_name count_services
0     80      http          14950
1     22       ssh            571
2    443     https            116
3     25      smtp             31
4    110      pop3             26
5    143      imap             12
6    587      smtp             10
7    993     imaps              9
8    995     pop3s              6
9     21       ftp              5
10    23    telnet              4
11  2525      smtp              1
12    20       ftp              0
13    26     rsftp              0
14  3306     mysql              0