In [1]:
import pandas as pd

In [2]:
def count_open(series):
    return series.equals("open").sum(1)

In [3]:
url_ports = pd.read_csv("../data/onions_ports.csv")
url_ports

,url,20,21,22,23,25,26,80,110,143,443,587,993,995,2525,3306
0,2222222222gwddfp.onion,closed,closed,closed,closed,closed,closed,open,closed,closed,closed,closed,closed,closed,closed,closed
1,2222222222vf2a2e.onion,closed,closed,closed,closed,closed,closed,open,closed,closed,closed,closed,closed,closed,closed,closed
2,222222222e5vnz7w.onion,closed,closed,closed,closed,closed,closed,open,closed,closed,closed,closed,closed,closed,closed,closed
3,222222222g4bgdec.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed
4,222222222lnekdyh.onion,closed,closed,closed,closed,closed,closed,open,closed,closed,closed,closed,closed,closed,closed,closed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23262,zzwjcks6voxbjdvd.onion,closed,closed,closed,closed,closed,closed,open,closed,closed,closed,closed,closed,closed,closed,closed
23263,zzx4y733wmo5tuhlf2mjwtadll4w45rl3gfooajh5qfjcf...,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed
23264,zzxd2gqqlm5v6zgj.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed
23265,zzzatqyocf7kt7y6.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed
23266,zzzzzzzuk2dl5sp7ugqdxctuprve5tjxj6tx3svz5y6qom...,closed,closed,closed,closed,closed,closed,open,closed,closed,closed,closed,closed,closed,closed,closed

In [9]:
url_ports["open_ports"] = url_ports.isin({"open"}).sum(1)
url_ports.sort_values(by=["open_ports"], ascending=False, inplace=True)
url_ports

,url,20,21,22,23,25,26,80,110,143,443,587,993,995,2525,3306,open_ports
6766,danielas3rtn54uwmofdo3x2bsdifr47huasnmbgqzfrec...,closed,closed,closed,closed,open,closed,open,open,open,open,open,open,open,closed,closed,8
5262,blackhost7pws76u6vohksdahnm6adf7riukgcmahrwt43...,closed,closed,open,closed,open,closed,open,closed,open,open,open,open,closed,open,closed,8
2326,5gdvpfoh6kb2iqbizb37lzk2ddzrwa47m6rpdueg2m656f...,closed,closed,closed,closed,closed,closed,open,open,open,open,open,open,open,closed,closed,7
4665,autinv5q6en4gpf4.onion,closed,closed,closed,closed,closed,closed,open,closed,open,open,open,open,open,closed,closed,6
21769,xdkriz6cn2avvcr2vks5lvvtmfojz2ohjzj4fhyuka55mv...,closed,closed,closed,closed,closed,closed,open,open,open,closed,open,open,open,closed,closed,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21746,xc4rkseg5gdvgi2c.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,0
2309,5fbjxcgywuw25wcl.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,0
21747,xcctiuhxyjetoqpl.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,0
2307,5esqstovopce63hh.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,0
14003,midnsimnmqdnlt6p.onion,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,closed,0

In [18]:
url_ports_grouped_by_count = url_ports[["url", "open_ports"]].groupby(["open_ports"]).count()
url_ports_grouped_by_count.rename(columns={"url": "count"}, inplace=True)
url_ports_grouped_by_count.reset_index(inplace=True)
url_ports_grouped_by_count.sort_values(by=["open_ports"], ascending=False, inplace=True)
url_ports_grouped_by_count

   open_ports  count
8           8      2
7           7      1
6           6      2
5           5      3
4           4      2
3           3     13
2           2    622
1           1  14400
0           0   8222

In [34]:
port_count = []
port_list = ["20", "21", "22", "23", "25", "26", "80", "110", "143", "443", "587", "993", "995", "2525", "3306"]
for port in port_list:
    count = len(url_ports[url_ports[port] == "open"])
    port_count.append(count)

port_count_df = pd.DataFrame([port_list, port_count])
port_count_df = port_count_df.transpose()
port_count_df.rename(columns={0: "port", 1: "count_open"}, inplace=True)
port_count_df.sort_values(by=["count_open"], ascending=False, inplace=True)
port_count_df

    port count_open
6     80      14950
2     22        571
9    443        116
4     25         31
7    110         26
8    143         12
10   587         10
11   993          9
12   995          6
1     21          5
3     23          4
13  2525          1
0     20          0
5     26          0
14  3306          0